<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/tool/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<title></title>
</head>
<body>

	<div id='pageContainer'>
		<div id='indexMainContainer'>

	<!-- this is a paragraph, explaining the tool? -->

		
			<div id='indexIntro'>
				<p><i><h1>Pen, Memory</h1></i> is a drawing instrument.</p>
				<p>the following stories are <i>memories</i> of other people who used the tool. Feel free to read the story and create your own version of the drawing. Or, you can <a href='/'>make your own drawings</a> </p>
			</div>


		<!-- this is the div for individual stories -->

			<div id='indexStoriesContainer'>
				<%drawings.map((drawing, i)=>{ %>
					<div class='indexStory'>
						<h2><i>by: <%=drawing.user%></i></h2>
						<p>
							<%=drawing.story.slice(0,60)%>

							<!-- <button > show more </button> -->
							<span class='indexSpan' id='span<%=i%>'><%=drawing.story.slice(60, 150)%></span><span class='user'>...</span>
						</p><br/>
						<a class='indexA' id='button<%=i%>'>show more</a>
						<a href='/<%=drawing._id%>'>draw</a>
					</div>
				<% })%>
			</div>	

		</div>

		<div id='footer'>
			<p>©2020 Yuzhu Chai. All rights served</p>
		</div>


	</div>

	<script>

		let buttons = $('.indexA')
		// console.log(buttons);
		for (let i = 0; i < buttons.length; i++){
			// console.log(buttons[i]);
			$(`#button${i}`).on('click',() => {
				// console.log(i);
				let display = $(`#span${i}`).css('display')
				if(display === 'none'){
					// console.log($(`#button${i}`));
					$(`#span${i}`).css({'display':'inline-block'})
					$(`#button${i}`).text('show less')
				} else {
					$(`#span${i}`).css({'display':'none'})
					$(`#button${i}`).text('show more')
				}
				// console.log(display);
			})
		}
	</script>
		
		
</body>
</html>